$webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <h3>Database upgrade report</h3>
            <form id="db-upgrade-project-select-form" class="aui">
                <aui-label for="db-upgrade-project-select">Compare component watchers before database upgrade with current watchers.</aui-label>
                <p>
                    <select id="db-upgrade-project-select" multiple="">
                        #foreach($project in $projects)
                            <option value="${project.key}">${project.name}</option>
                        #end
                    </select>
                    or
                    <button id="db-upgrade-report-download" class="aui-button aui-button-subtle">Download CSV of all projects</button>
                </p>
            </form>

            <div>
            #foreach($project in $projects)
                <table class="aui aui-table-rowhover db-upgrade-project-report" style="display: none" data-project-key="${project.key}" data-is-updated="false">
                    <caption>${project.name}</caption>
                    <thead>
                        <tr>
                            <th id="component"><b>Component</b></th>
                            <th id="before-username"><b>Usernames (before 2.4.6 upgrade)</b></th>
                            <th id="current-username"><b>Usernames (current)</b></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            #end
            </div>
        </section>
    </div>
</div>